<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>


    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet>
        <servlet-name>portailUnivServlet</servlet-name>
        <servlet-class>university.servlets.PortailUnivServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>connexionServlet</servlet-name>
        <servlet-class>university.servlets.ConnexionServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AccueilEtudServlet</servlet-name>
        <servlet-class>university.servlets.AccueilEtudServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AfficheStageServlet</servlet-name>
        <servlet-class>university.servlets.AfficheStageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ContactEntrepriseServlet</servlet-name>
        <servlet-class>university.servlets.ContactEntrepriseServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AccueilTuteurServlet</servlet-name>
        <servlet-class>university.servlets.AccueilTuteurServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ValideDemandeServlet</servlet-name>
        <servlet-class>university.servlets.ValideDemandeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>refuseDemandeServlet</servlet-name>
        <servlet-class>university.servlets.RefuseDemandeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RdvDemandeServlet</servlet-name>
        <servlet-class>university.servlets.RdvDemandeServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>portailUnivServlet</servlet-name>
        <url-pattern>/portailUnivServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>connexionServlet</servlet-name>
        <url-pattern>/connexionServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AccueilEtudServlet</servlet-name>
        <url-pattern>/AccueilEtudServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AfficheStageServlet</servlet-name>
        <url-pattern>/AfficheStageServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ContactEntrepriseServlet</servlet-name>
        <url-pattern>/ContactEntrepriseServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AccueilTuteurServlet</servlet-name>
        <url-pattern>/AccueilTuteurServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ValideDemandeServlet</servlet-name>
        <url-pattern>/ValideDemandeServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>refuseDemandeServlet</servlet-name>
        <url-pattern>/refuseDemandeServlet</url-pattern>
    </servlet-mapping>

   <servlet-mapping>
        <servlet-name>RdvDemandeServlet</servlet-name>
        <url-pattern>/RdvDemandeServlet</url-pattern>
    </servlet-mapping>

  
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>portailUniv.jsp</welcome-file>
    </welcome-file-list>
</web-app>
