/* 
    Document   : accueilComanyCSS
    Created on : 19 janv. 2016, 21:02:17
    Author     : OUTA
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    }

.table1 {
  color: #333;
  font-family: sans-serif;
  font-size: .9em;
  font-weight: 300;
  text-align: left;
  line-height: 55px;
  border-spacing: 0;
  border: 1.5px solid #000000;
  width: 900px;
  margin: 50px auto;
  background-color:#FFFFFF;

}
.table2 {
  margin: 50px auto;
}

thead tr:first-child {
  background:  #c1d7d7;
  color: #fff;
  border: none;
}

th {font-weight: bold;}
th:first-child, td:first-child {padding: 0 15px 0 20px;}

thead tr:last-child th {border-bottom: 3px solid #ddd;}

tbody tr:hover {background-color: #e5e5ff;}
tbody tr:last-child td {border: none;}
tbody td {border-bottom: 1px solid #ddd;}

td:last-child {
  text-align: right;
  padding-right: 10px;
}

.button {
  color: #696969;
  padding-right: 5px;
  cursor: pointer;
}

.alterar:hover {
  color: #0a79df;
}

.excluir:hover {
  color: #dc2a2a;
}

.plan-button1 {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  line-height: 30px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
 background: #FFFFFF;
  border: 1px solid #000;
  border-bottom-color: white;
  border-radius: 3px;

}
.plan-button1:hover {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);

   background:  #e5e5ff;
  border: 1px solid #222;
  
  border-radius: 3px;

}

.plan-button2 {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  line-height: 30px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
 background: #FFFFFF;
  border: 1px solid #000;
  
  border-radius: 3px;

}
.plan-button2:hover {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);

   background:   #e5e5ff;
  border: 1px solid #222;
  border-bottom-color: white;
  border-radius: 3px;

}

body {
    background-image: url("Company.jpg");
    
    
}

